:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #1c7ed6;
    --color-blue-light: #89D4FC;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #3f454d;

    /* size */
    --base-space: 8px;
    --size-button: 60px;
    --size-border: 4px;
    --size-thumbnail: 50px;
    --button-font-size: 18px;    

    /* animation */
    --size-animation-duration: 300ms;
}

body {
    height: 100vh;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    cursor: pointer;
    transition: transform var(--size-animation-duration) ease;
}

.btn {
    background-color: transparent;
    border:none;
    outline: none;
    cursor: pointer;
    transition: transform var(--size-animation-duration) ease;
    margin-right: var(--base-space);
}

.btn:hover,
.logo:hover {
    transform: scale(1.1);
}

.buttons {
    display: flex;
    align-items: center;
}

.imgBtn {
    width: var(--size-button);
    height: var(--size-button);
}

.colorBtn {
    font-size: var(--button-font-size);
    padding: calc(var(--base-space) * 2);
    border-radius: var(--size-border);
}

.blue {
    background-color: var(--color-blue);
}

.Yellow {
    background-color: var(--color-yellow);
}

.Pink {
    background-color: var(--color-pink);
}

.items {    
    width: 60%;
    height: 60%;
    list-style: none;
    padding-left: 0;
    overflow-y: scroll;
}

.invisible {
    display: none;
}

.item {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    padding: var(--base-space);
    margin-bottom: var(--base-space);
}

.item__thumbnail {
    width: var(--size-thumbnail);
    height: var(--size-thumbnail);
}

.item__description {
    margin-left: var(--base-space);

}